body{
    text-align: center;
}

#page {
    display: inline-block;
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
    vertical-align: top;
    background: grey;
}

#facebookBox {
    position: fixed;
    top: 100px;
    left: -210px;
    width: 260px;
    z-index: 100;
}

#facebookBox .label {
    float: right;
    width: 50px;
    height: 50px;
    background: blue;
}

#facebookBox .content {
    width: 200px;
    height: 400px;
    border: 5px solid blue;
    background: #FFF;
}

#parent {
    position: relative;
    float: left;
    width: 900px;
    height: 200px;
    padding: 50px;
    background: chartreuse;
}

#parent a {
    cursor: pointer;
}

#parent .child {
    position: absolute;
    width: 200px;
    height: 200px;
    background: yellow;
}

#parent .child1 {
    right: 700px;
    background: red;
}

#parent .child2 {
    left: 700px;
    background: blue;
}