.kontener {
    width: 600px;
    margin: 0 auto;
    border: 1px solid blue;
}

.tekst {
    width: 150px;
    display: block;
    float: left;
    padding-right: : 5px;
    text-align: right
}

.kontener>div {
    margin-bottom: 10px;
}
