/*p {
    background-color: black;
    color: white;
}

.active {
    background: red;
}*/


/*.clock {
    background-color: yellow;
    font-size: 30px;
    width: 105px;
    height: 50px;
    border-radius: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    position: absolute;
    
}

.border {
    width: 110px;
    height: 120px;
    background-color: greenyellow;
    position: relative;
    margin-left: 500px;
    margin-top: 200px;
}

body {
    background-color: hotpink;
}*/