header {
    background-color: blueviolet;
    margin: 5px 5px 5px 5px;
    height: 60px;
    text-align: center;
    font-size: 40px;
    border-radius: 10px
}

nav {
    background-color: darkorchid;
    margin: 5px 5px 5px 5px;
    height: 50px;
    text-align: center;
    font-size: 35px;
    border-radius: 10px
}

body {
    background-color: darkmagenta;
}

article {
    background-color: deepskyblue;
    font-size: 15px;
    margin: 5px 5px 5px 5px;
    text-align: center;
    border-radius: 10px;
    width: 66%;
    float: left;
}

div {
    background-color: yellow;
    float: right;
    width: 30%;
    margin: 5px 5px 5px 5px;
    border-radius: 10px;
}

footer {
    background-color: aliceblue;
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
    clear: both;
}

#tekst:hover {
    background-color: chartreuse;
    transition: 2s;
}

article:target {
    display: block;
    padding: 2px 5px 2px 5px;
    margin: 5px;
}

article {
    display: none;
}

#tekst4:hover {
    background-color: chartreuse;
    transition: 2s;
}

#tekst2 {
    text-align: left;
    background-color: crimson;
    font-size: 10px;
    float: left;
}
