body {
    font-size: 17px;
    background-color: darkorchid
}

#test {
     font-size: 32px;   
}



.Kupa {
     color: #f99;
    font-size: 25px;
}

.Kupa2 {
    color: #ff0
}

input:hover {
    border-color:red;
}

input {
    display: block;
    margin: 0 0 10px 10px;
}

.ppp input {
    display: inline
}

table, td {
    border:1px black solid;
}

table.UTONUMER {
    width: 100%;
    counter-reset: none
}

.przyciski { 
      color: chartreuse;
      background-color: coral
}

input:focus {
    background-color: coral;
}



@media screen and (max-width: 400px) and (max-height: 1024px) {
    
    input:hover  {
        border-color: blue;
    }
    
    input {
    display: block;
    margin: 0 0 10px 0;
    }
    
    .ppp input {
        display: inline
    }
    
    .przyciski {
        background-color:aqua 
    }
}

.tab img {
    display: none;
}

.tab img:target {
    display: block;
    padding: 2px 5px 2px 5px
    margin: 5px;
}
    
a{
    transition: 2s
}

a:hover{
    color: blue;
    background-color: yellow;
    
}
    

    
  