@charset 'UTF-8';



@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

$bg-color: #C5B7C9;
$primary-color: #0b0b0b;

nav {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    
    li {
    display: inline;
    float: left;
    margin-right: 54px;
    &:last-child {
        margin-right: 0;
    }
    }
    
    
}

body {
    font-family: 'Kaushan Script', cursive;
    background-color: $bg-color;
    color: $primary-color;
}

h2 {
    font-size: 36px;
    border-bottom: 3px solid $primary-color;
    font-weight: 900;
    padding-bottom: 8px;
    letter-spacing: 0.04em;
    
    padding-left: 0 !important;
    padding-right: 0 !important;
    
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    margin-bottom: 22px;
}

h3 {
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    margin-bottom: 12px;
    
}


p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 24px;
    text-align: justify;
}

.logo {
    display: block;
    line-height: 96px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 24px;
    letter-spacing: 0.06em;
    color: $primary-color;
}



.kontener {
    float: right;
    
}

a {
    color: $primary-color;
    line-height: 96px;;
    
}

.kontakt {
    p {
        text-align: center;
        font-weight: 700;
        font-size: 16px;
    }
}

.page-banner {
    background-image: url(../img/salon3.jpg);
    height: 504px;
    background-position: center;
    background-size:cover;
    text-align: center;
    margin-bottom: 96px;
    
    align-items: center;
    justify-content: center;
    

    p {
        margin-bottom: 55px;
        background-color: #C5B7C9;
        opacity: 0.8;
        font-size: 48px;
        padding: 0 126px;
        line-height: 96px;
        color: #fff;
        font-weight: 300;
        
        strong {
            font-weight: 700;
        }

    }
    
    .btn {
        display: inline-block;
        font-size: 16px;
        text-transform: uppercase;
        background-color: #fff;
        line-height: 60px;
        padding: 0 51px;
        color: $primary-color;
        transition: all 0.35s ease-in-out;
        
        &:hover {
            color: #fff;
            background-color: #C5B7C9;
        }
    }
}

.services-section {
    margin-bottom: 96px;
}

.projects-section {
    
    margin-bottom: 96px;
    
    h3 {
        margin-bottom: -6px;
    }
    
    span {
    display: block;
    font-size: 8px;
    margin-bottom: 20px;
    }
}

.clients-logo {
    display: flex;
    justify-content: space-between;
}

.mapka {
    text-align: right;
    
}






